.slick-dots{
    bottom: 22px !important
}
.slick-dots li button{
   font-size: 0;
    width: 20px;
    height: 2px;
    background: #d4d4d4;
    padding: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
}
.slick-dots li.slick-active button{
     background: black;
}
.slick-dots li button:before{
   background: transparent;
   font-size: 0;
}