 /* .product-images-slider .swiper-slide {
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}  */
/* .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
} */
.product-images-slider .swiper-button-prev {
  left: 0;
  color: #000;
}

.product-images-slider .swiper-button-next {
  right: 0;
  color: #000;
} 
